<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ways of Working</title>
  <link 
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='bootstrap/css/styles.css') }}"
  >
  
  
</head>
<header>
  <h1>Ways of Working</h1>
</header>

<body>
  <div class="introSection">
    <p class="intro">Hello World</p>
  </div>
  <div class="container">

    <h2>Best Practice</h2>
  
    <ul class="cards">
      <li class="card">
        <div>
          <h3 class="card-title">...</h3>
          <div class="card-content">...</div>
        </div>
      </li>
      <li class="card">
        <div>
          <h3 class="card-title">...</h3>
          <div class="card-content">...</div>
        </div>
      </li>
     <!-- more cards here -->
  
    </ul>
  </div>  

  <div class="container">

    <h2>Please avoid</h2>
  
    <ul class="cards">
      <li class="card">
        <div>
          <h3 class="card-title">Verbally listing instructions</h3>
          <div class="card-content">Dyslexia directly impacts my working memory. If you verbally provide a list of three tasks, I will most likely complete one of them and forget the rest</div>
        </div>
      </li>
      <li class="card">
        <div>
          <h3 class="card-title">...</h3>
          <div class="card-content">...</div>
        </div>
      </li>
     <!-- more cards here -->
  
    </ul>
  </div>
  <script src="{{url_for('static', filename='bootstrap/js/main.js')}}"></script>  
</body>
<footer>
  <a href="https://github.com/Dr-Passmore"> GitHub</a>
</footer>
</html>