<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ways of Working</title>
  <link 
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='bootstrap/css/styles.css') }}"
  >
  
</head>


<body>
  <header>
    <h1>Ways of Working </h1>
  </header>
  <p>Hello World</p>
</body>
<footer>
  <a href="https://github.com/Dr-Passmore"> GitHub</a>
</footer>
</html>